[submodule "librime"]
	path = librime
	url = https://github.com/rime/librime.git
[submodule "plum"]
	path = plum
	url = https://github.com/rime/plum.git
[submodule "rime-ice"]
	path = rime-ice
	url = http://192.168.114.7/rime/rime-ice
